	:root {
	--bg: #111;
	--fg: white;
	--hl: #FF594A;
}

::selection {
  color: white;
  background: #FF7E75;
}

.preload * {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
}

body {
	background: var(--bg);
}



.phone {
	   padding-left: 7.5vw;
	}

*{
    font-family:"YT Sans";
}

.cont {
	margin-left: 31.5vw;
	width: 38vw;
	text-align: justify;
}

.mover {
	margin-left: 7.5vw
}

.maintitle {
	color: var(--hl);
	font-size: 3vw;
	margin: 0;
	text-align: center;
}

p {
	color: var(--fg);
	font-size: 1.4vw;
	margin: 0;
}

ul {
	list-style: none;
	padding-left: 0 !important;
}

ul h2 {
	color: var(--hl);
	font-size: 2vw;
	margin: 0;
}

li {
	margin-bottom: 1.8vh;
}

.btn {
	display: inline-block;
	width: 9vw;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	font-size: 1.5vw;
	padding: .3vw .8vw;
	border: .15vw solid var(--hl);
	border-radius: 1vw;
	margin-right:1vw;
	color: var(--hl);
	-webkit-transition: ease-out 0.3s;
	-moz-transition: ease-out 0.3s;
	transition: ease-out 0.3s;
}

.btn:hover {
	transform: translate(0px, -0.25vw);
	color: black;
	color: var(--bg);
	background-color:#FF594A;
	x-shadow: inset 12vw 0 0 0 var(--hl);
}

.vidcont {
  overflow: hidden;
  padding-top: 56.25%;
  position: relative;
}
 
.vidcont iframe {
   border: 0;
   height: 100%;
   left: 0;
   position: absolute;
   top: 0;
   width: 100%;
}

ul.navbar {
	margin-top: 3vh;
	margin-bottom: -5vh;
	text-align: center;	
}

ul.navbar a {
	display: inline-block;
	text-align: center;
	text-decoration: none;
	font-size: 1.5vw;
	padding: 0.5vw;
	color: var(--hl);
	transition-duration: 0.5s;
}

ul.navbar p {
	display: inline-block;
	text-align: center;
	text-decoration: none;
	font-size: 1.5vw;
	padding: 0vw;
	color: var(--hl);
	transition-duration: 0.5s;
}


.navbar a:hover {
	color: white;
	transform:translate(0px,-0.3vw);
	transform:scale(1.4,1.4);
	padding-right:2vw;
	padding-left:2vw;
	transition-duration: 0.35s;
	filter: drop-shadow(0px 0px 0.4vw white);
}

.footer a img{
transition-duration: 0.4s;
	
}

.footer a img:hover{
	-webkit-transition: 0.4s;
	-moz-transition: 0.4s;
	transition: 0.4s;
	transform:scale(1.1,1.1);
	filter:brightness(290%);	
}

@media screen and (orientation: portrait) {
	ul.navbar {
		margin-top: 5vh;
		transition:0.3s;
	}

	ul.navbar a {
		font-size: 5vw;
		padding: 2vw;
	}
	
	.footer {
		padding-left:0vw;
		padding-right:35vw;
	}

	.cont {
		width: 80vw;
		margin-left: 10vw;
	}

	#homecont {
		margin-top: 30vh !important;
	}

	#workcont {
		margin-top: 28vh !important;
	}

	#shopcont {
		margin-top: 13vh !important;
	}

	.maintitle {
		font-size: 10vw;
	}

	p {
		font-size: 4vw;
	}
	
	ul.navbar p {
	color: #FF594A;
	font-size: 5vw;
	margin: 0;
}

	.footer p{
	  padding-right:6vh
	}
	
	.btn {
	    font-size: 4.6vw;	
		width: 28vw;
		padding: 1.5vw 1.5vw;
		border: .6vw solid var(--hl);
		border-radius: 4vw;
		cursor: pointer;
		transform:translate(0vw,0vw);
		color: #FF594A;
	}
	   

	.btn:hover {
		box-shadow: inset 0 0 0 0;
		color: black;
		color: var(--bg);
		transform:translate(0vw,-1vw);
	}

	ul h2 {
		font-size: 5vw;
	}

	li {
		margin-bottom: 10vh;
	}
	
	.phone {
	   padding-left: 7vw;
	}

}

body{
	margin:0;
	padding:0;
	font-family:"arial",helvetica,sans-serif;
	font-size:12px;
    background: #000000 url('plus.png') repeat 0 0;
	-webkit-animation: 10s linear 0s normal none infinite animate;
	-moz-animation: 10s linear 0s normal none infinite animate;
	-ms-animation: 10s linear 0s normal none infinite animate;
	-o-animation: 10s linear 0s normal none infinite animate;
	animation: 10s linear 0s normal none infinite animate;
 
}
 
@-webkit-keyframes animate {
	from {background-position:0 0;}
	to {background-position: 500px 500px;}
}
 
@-moz-keyframes animate {
	from {background-position:0 0;}
	to {background-position: 490px 490px;}
}
 
@-ms-keyframes animate {
	from {background-position:0 0;}
	to {background-position: 490px 490px;}
}
 
@-o-keyframes animate {
	from {background-position:0 0;}
	to {background-position: 490px 490px;}
}
 
@keyframes animate {
	from {background-position:0 0;}
	to {background-position: 490px 490px;}
}

.footer {
	   position: fixed;
	   background-color: rgba(255,0,0,0.1);	
	   bottom: 0px;
	   width: 100%;	
	   text-align: center;
	   padding-top:0.6vw;
	   padding-bottom:0.4vw;
	  }
