body{
    background-color: cyan;
}

header .logo a {
	background-image: url("../images/logo.png");
	background-size: 90px;
	background-repeat: no-repeat;
	display: inline-block;
	height: 100px;
	width: 111px;
	text-indent: -999999px;
	position: relative;
    top: -15px;
}